:root {
  --sec-default: hsl(223.64deg 12.94% 16.67%);
  --bg-default: #131417;
}

@font-face {
  font-family: "Silkscreen";
  src: url("Assets/Fonts/Silkscreen-Regular.ttf");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Silkscreen", sans-serif;
  background-color: var(--bg-default);
}

input[type="text"],
input[type="password"],
input[type="submit"],
button, select {
  border-radius: 8px;
  font-family: "Silkscreen", sans-serif;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
