:root {
  --sec-default: hsl(223.64deg 12.94% 16.67%);
  --bg-default: #131417;
}

@font-face {
  font-family: "Silkscreen";
  src: url("Assets/Fonts/Silkscreen-Regular.ttf");
}

@font-face {
  font-family: "PixelifySans";
  src: url("Assets/Fonts/PixelifySans.ttf");
}

body {
  --bs-primary: var(--bg-default);
  --bs-secondary: var(--sec-default);
  --bs-primary-hover: rgba(13, 14, 17, 0.3);

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-default);
}

button {
  color: white !important;
  display: unset;
}

.start-tabs button {
  background-color: var(--bs-primary-hover) !important;
  border: 0px !important;
  border-bottom: 1px solid white !important; 
}

.start-tabs button.disabled {
  color: grey !important;
}

.start-tabs button.active {
  background-color: var(--bs-secondary) !important;
}
