body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Silkscreen", sans-serif;
  background-color: #020309;
}

input[type="text"],
input[type="password"],
input[type="submit"],
button {
  font-family: "Silkscreen", sans-serif;
  border-radius: 8px;
  box-sizing: border-box;
}
