.auth-container {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
  color: white;
}

.auth-discord-signup button {
  margin-bottom: 10px;
  font-size: large;
  width: 300px;
  background-color: #6a86da;
  color: white;
  height: 40px;
  border: none;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  line-height: 18px;
  text-decoration: none;
}

.auth-discord-signup button:active {
    transform: scale(0.98)
}