.black-card {
  width: 230px;
  font-weight: bold;
  height: 300px;
  background-color: var(--bg-default);
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  font-size: large;
  overflow: auto;
  scrollbar-width: none;
  word-spacing: 10px;
}

.black-card-question {
  font-size: max(1rem,min(10vw,1.2rem));
}

.black-card::-webkit-scrollbar {
  display: none;
}

.black-card-question {
  width: 90%;
  padding-left: 10px;
  padding-top: 10px;
}

.black-card-line {
  display: flex;
}