.room-lobby-container {
  margin: auto;
  width: 50%;
  text-align: center;
  color: white;
  margin-top: 20px;
  border-radius: 10px;
  background-color: var(--sec-default);
}

.room-lobby-code {
  margin: 0 -15px auto;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  color: white;
  line-height: 30px;
}

.room-lobby-left {
  float: left;
  font-size: larger;
  margin-left: 10px;
  font-weight: bold;
}

.room-lobby-start {
  width: 350px;
  height: 40px;
  font-size: x-large;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

.room-lobby-opt {
  margin-top: 20px;
  display: flex;
}

.room-lobby-opt span {
  font-size: larger;
  margin-left: 10px;
  font-weight: bold;
}

.room-players-cell:first-child {
  color: black;
  display: none;
}

.room-lobby-game_options {
  width: 100%;
}

.room-players-cell {
  padding: 20px 0px 5px 5px;
  border-radius: 10px;
  width: 220px;
  list-style-type: none;
  font-weight: bold;
}

.room-lobby-copy-note {
  font-size: small;
  transition: opacity 0.3s, visibility 0.3s;
}

.room-lobby-copy-note_hidden {
  display: none;
}

.room-lobby-copy-note:hover {
  visibility: visible;
}

.room-players-cell li {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: medium;
  color: white;
}

.room-lobby-code-hidden span {
  color: white;
}

.judge-username-container {
  text-align: center;
  height: 100px;
  width: 100%;
  font-size: x-large;
}

.judge-username {
  color: white;
  font-weight: bold;
  text-align: center;
  left: 0;
}

.room-lobby-waiting {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 2px solid white;
  width: 200px;
  font-weight: bold;
  height: 30px;
  font-size: large;
  color: white;
  background-color: black;
}

.room-lobby-player-cell {
  width: 200px;
  height: 80px;
  background-color: black;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 120%;
  margin: 0;
  overflow: auto;
  overflow: hidden;
  scrollbar-width: none;
  word-spacing: 5px;
}

.room-players-cell li {
  display: flex;
  padding-top: 0px;
  height: 40px;
}

.room-players-cell img {
  width: 40px;
  height: 40px;
  border-width: 3px;
  border-style: solid;
}

.room-players-cell span {
  height: 5px;
  margin-left: 8px;
}

.room-players-cell p {
  float: left;
}

.room-lobby button:active {
  transform: translate(-50%, -40%);
}

.cards-container {
  padding-left: 15px;
  display: flex;
}

.cards-container .white-card {
  margin-left: 10px;
}

.cards-next-round-btn {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: large;
  font-weight: bold;
}

.cards-selected-container {
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 1400px;
  height: 300px;
  flex-direction: column;
  flex-wrap: wrap;
  display: inline-flex;
  overflow-x: auto;
}