.leaderboard-container {
  min-width: 200px;
  height: 300px;
  background-color: var(--bg-default);
  border-radius: 10px;
  margin-right: 50px;
  text-align: center;
  border: 1px solid white;
  overflow: auto;
}

.leaderboard-name {
  min-width: 50px;
  max-width: 100px;
  overflow: hidden;
  font-weight: bold;
  color: white;
}

.leaderboard-container ul {
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
  list-style: none;
}

.leaderboard-container li {
  text-align: left;
  position: relative;
  margin-bottom: 15px;
  padding: 3px;
  display: flex;
  background-color: var(--bg-default);
  border-radius: 10px;
  font-weight: 600;
  margin-right: auto;
  color: white;
}

.leaderboard-points {
  position: absolute;
  right: 10px;
  bottom: 11px;
}

.leaderboard-container span {
  font-size: x-large;
  margin-left: 10px;
}

.leaderboard-container img {
  width: 40px;
  height: 40px;
  border-width: 3px;
  border-style: solid;
}
