.lobby-manager-container {
  text-align: center;
  color: white;
}

.lobby-manager-container span {
  font-size: x-large;
  font-weight: bold;
}

.white-cards-container {
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 25px;
  padding-left: 20px;
  white-space: nowarp;
  margin-top: 10px;
  display: flex;
}

.lobby-manager-opt > * {
  font-weight: bold;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.lobby-manager-container button {
  border: none;
  font-size: x-large;
  font-weight: bold;
  width: 150px;
  --tw-bg-opacity: 1;
  height: 40px;
  border-radius: 100px;
  background-color: white;
}

.lobby-manager-container hr {
  position: absolute;
  margin: auto;
  left: 45%;
  width: 10%;
}

.lobby-manager-container form {
  min-width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 20%;
  left: 50%;
  border-radius: 10px;
  padding: 50px 35px;
}

.lobby-manager-container input::placeholder {
  color: grey;
}

.lobby-manager-container button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(255, 255, 255, 0.24);
}

.lobby-manager {
  color: white;
  text-align: center;
}

.lobby-manager input::placeholder {
  color: #b5b3b3;
}

.lobby-manager button:active {
  transform: translateY(2px);
}

h2 {
  margin: 0;
  color: white;
}

.lobby-manager img { 
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 1px 0px white inset, 0 0 1px 0px white;
}

.lobby-manager .lobby-manager-join > * {
  margin-top: 10px;
}

.lobby-manager-code-input { 
  text-transform: uppercase;
  font-size: large;
  border-radius: 8px;
  height: 30px;
  outline: none;
  font-weight: 150;
  background-color: black;
  color: white;
  border: 2px solid white;
  padding-left: 10px;
}

.lobby-manager-code-input::placeholder{
  text-transform: none;
}

.lobby-manager-join, .lobby-manager-create {
  height: 35px;
  border-radius: 8px;
  outline: none;
  background-color: black;
  color: white;
  border: 2px solid white;
}

.lobby-manager-create-line { 
  width: 300px;
}