nav {
  background-color: var(--sec-default);
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 60px;
  padding-left: 20px;
  vertical-align: middle;
}

nav a {
  margin: 0 0 0 30px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: larger;
}

nav a:hover {
  text-decoration: underline;
}

nav .nav-user .nav-user-info {
  margin-right: 10px;
}

nav select option {
  border: none;
  width: 20px;
}

nav .nav-logout {
  margin: 0;
  color: rgb(229, 71, 71);
  cursor: pointer;
  font-weight: bold;
  text-align: right;
}

nav .nav-user {
  margin-left: auto;
  margin-right: 0;
  padding-right: 5px;
  display: flex;
}

nav .nav-user img {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border-width: 3px;
  border-style: solid;
}

nav .nav-user span {
  font-weight: bold;
}

nav .nav-header {
  padding: 0;
  margin: 7px;
  font-size: 24px;
}
