.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}

.over-triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--bs-secondary);
  position: relative;
  top: -10px;
  left: -5px;
}

.nav-link:hover {
  background-color: var(--bs-primary-hover);
}

nav .nav-link {
  border-radius: 10px;
}

.navbar-brand:hover {
  transform: scale(1.04);
}

.navbar-user-profile:hover {
  opacity: 0.6;
}
