.auth-container {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  color: white;
  padding-top: 40px;
  border-radius: 10px;
  background-color: var(--sec-default);
}

.auth-discord-signup button {
  margin-bottom: 10px;
  cursor: pointer;
  font-size: large;
  width: 300px;
  background-color: #6a86da;
  color: white;
  height: 40px;
  border: none;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  line-height: 18px;
  text-decoration: none;
}

.auth-discord-signup button:active {
  transform: scale(0.98);
}

.tab-bar {
  display: flex;
  padding-bottom: 15px;
}

.tab-bar button {
  width: 350px;
  height: 40px;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  border-color: var(--bg-default);
  color: white;
  font-size: larger;
}

.tab-bar_active {
  border-radius: 0;
  border-bottom: 1px solid white !important;
}

.tab-bar-password {
  font-size: medium;
  width: 200px;
  outline: none !important;
  border: none !important;
  height: 35px;
  box-shadow: -2px 9px 15px 4px rgba(236, 236, 236, 0.06);
  padding: 4px;
  margin: 8px;
}

.tab-bar-note {
  color: #eaeafa;
  margin: 0;
  font-size: small;
}

.tab-bar-submit {
  width: 170px;
  height: 30px;
  font-size: larger;
  border: none;
  font-weight: bold;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 8px;
}
