.login-form_animation:hover {
  transform: scale(1.05);
}

.add-bot_button {
  width: 25px;
  cursor: pointer;
}

.player_hover:hover {
  cursor: pointer;
  background-color: rgb(42, 41, 41);
}
